#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f7fa;
}

.app h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  outline: none;
}

button:focus {
  outline: 1px solid #387036;
}
